@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

* {
    color: white;
    font-family: "Handjet", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: url("318.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.divh {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 40px;
}

.div1 {
    cursor: pointer;
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 12px;
}

.logo-link {
    text-decoration: none;
}

.div2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.p1 {
    font-size: 23px;
    border-radius: 10px;
    padding: 7px 15px;
    margin: 0 8px;
    cursor: pointer;
    font-weight: 700;
}

.p1:hover {
    box-shadow: 0 0 5px #765ab5,
                0 0 10px #352552,
                0 0 15px #352552,
                0 0 20px #765ab5,
                0 0 25px #765ab5;
}

.searchbtn {
    width: 50px;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 25px;
    cursor: pointer;
}

.searchimg {
    width: 20px;
}

.title{
    font-size: 35px;
    display: flex;
    flex-direction: column;
    letter-spacing: 8px;
}

.btn {
    font-size: 15px;
    color: white;
    border-radius: 8px;
    letter-spacing: 5px;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.6s;
    padding: 10px 12px;
    border: none;
    transition-property: box-shadow;
    margin-top: 50px;
}
  
.btn {
    background: rgba(255, 255, 255, 0.2); /* White with 80% opacity */
    backdrop-filter: blur(2px);
    box-shadow: 0 0 20px #765ab5;
}

main {
    margin: 150px 80px 0 100px;
}
  
.btn:hover {
    box-shadow: 0 0 5px #765ab5,
                0 0 15px #352552,
                0 0 25px #352552,
                0 0 35px #765ab5,
                0 0 45px #765ab5;
} 

.ddiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divthings {
    display: flex;
    margin-left: 130px;
}

.div11 {
    width: 180px;
    height: 180px;
    margin: 10px 10px 20px 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2); /* White with 80% opacity */
    backdrop-filter: blur(2px);
}

.div11:hover {
    box-shadow: 0 0 5px #765ab5,
                0 0 10px #352552,
                0 0 15px #352552,
                0 0 20px #765ab5,
                0 0 25px #765ab5;
}

.title2 {
    font-size: 23px;
    font-weight: bold;
}

.discription {
    align-items: center;
    margin: 10px;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
